.app {
  padding: 20px;
  max-width: 1200px;
  margin: auto;

  & .loader {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }

  & .infoMessage {
    display: flex;
    justify-content: center;
    
    & .text {
      font-weight: bold;
      color: var(--text-accent);
      font-size: 20px;
    }
  }
}
