.input {
  border: none;
  background: transparent;
  border: solid 1px var(--border);
  color: var(--text);
  padding: 10px;
  border-radius: 5px;
  width: 100%;

  &:disabled {
    opacity: .5;
  }
}

.checkbox {
  cursor: pointer;
  display: inline-flex;
  width: 15px;
  height: 15px;
  border: solid 1px var(--border-accent);
  color: black;
  border-radius: 2px;

  &.checked {
    background: var(--border-accent);
  }
}

.select {
  cursor: pointer;
  padding: 0 20px;
  font-size: 14px;
  background: var(--background-alt);
  color: var(--text-accent);
  font-weight: bold;
  border: none;
  padding: 10px;
}

.button {
  border: none;
  transition: .3s;

  &.link {
    background: transparent;
    font-weight: bold;
    font-size: 14px;
  }

  &.primary {
    display: inline-flex;
    align-items: center;
    background: var(--btn-background);
    color: var(--text-accent);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    transition: .3s;

    &:hover {
      background: var(--btn-hover-background);
    }
  }
}
