.loader {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.mixes-table {
  .table {
    display: block;
    padding-left: 40px;
    margin-bottom: 20px;

    & .header {
      display: flex;
      font-weight: bold;
      color: var(--text-dimer);
      text-transform: uppercase;
      font-size: 12px;
      margin: 10px 0;
      padding: 0 20px;
    }

    & .col-mix-number {
      width: 30px;
      color: var(--text-dimer);
    }

    & .col-quantity {
      width: 100px;
    }

    & .col-presentation {
      flex: 1;
    }

    & .col-status {
      width: 160px;
      text-align: center;
    }

    & .col-actions {
      width: 80px;
      display: flex;
      justify-content: center;
    }

    & .mix {
      position: relative;
      display: flex;
      padding: 20px;
      background: var(--background-alt-dark);
      margin-top: 10px;
      border-radius: 5px;

      & .col-presentation {
        color: var(--text-dim);
      }

      &:nth-child(2) {
        &:before {
          top: -35px;
          height: 68px;
        }
      }

      &:before {
        top: -42px;
        left: -20px;
        width: 20px;
        height: 74px;
        content: "";
        position: absolute;
        border-left: solid 2px var(--border-dark);
        border-bottom: solid 2px var(--border-dark);
      }
    }
  }
}
