:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --blue: #89b4fa;

  --red-light: #f3a7bc;
  --red: #f38ba8;

  --green: #a6e3a1;
  --green-dark: #92c38e;

  --background: #100e17;
  --background-alt: #1e1e2e;
  --background-alt-dark: #181825;

  --text: #cdd6f4;

  --text-accent-light: #adc9f6;
  --text-accent: var(--blue);

  --text-dim: #a6adc8;
  --text-dimer: #828697;

  --text-alt: #11111b;

  --border: #585b70;
  --border-dark: #1d1e26;
  --border-accent: var(--blue);

  --btn-background: #1e1e2e;
  --btn-hover-background: #313244;
}

* {
  box-sizing: border-box;
  color-scheme: dark;
}

body {
  background: var(--background);
  color: var(--text);
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

input {
  outline: 0;
}

input[type="date"] {
  cursor: pointer;
}

p {
  margin: 0;
}
