.receiptsLoader {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.infoMessage {
  display: flex;
  justify-content: center;

  & .text {
    font-weight: bold;
    color: var(--text-accent);
    font-size: 20px;
  }
}

.addReceiptBtn {
  background: transparent;
  border: none;
  width: 150px;
  background: var(--green);
  color: var(--text-alt);
  border-radius: 5px;
  font-weight: bold;
  transition: .3s;

  &:hover {
    background: var(--green-dark);
  }
}

.deleteModal {
  & .loader {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);

    & .text {
      margin-top: 20px;
      font-weight: bold;
      color: var(--text-accent);
    }
  }

  & .text {
    margin-bottom: 20px;
  }

  & .buttons {
    display: flex;
    justify-content: flex-end;

    & .cancelBtn {
      margin-right: 10px;
    }
  }
}

.date-checkbox {
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 5px;
  padding-bottom: 0;

  & .text {
    font-size: 14px;
    color: var(--text-accent);
  }
}

.edit-receipt-loader {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.edit-receipt-form {
  & .mixes {
    & .mix {
      display: flex;
      padding: 20px;
      box-shadow: var(--border-accent) 0 0 3px;
      margin-bottom: 20px;
      border-radius: 5px;
      font-size: 14px;

      & .col-mix-number {
        padding-right: 20px;
        text-align: center;
        color: var(--text-dimer);
      }

      & .col-quantity {
        font-weight: bold;
        width: 100px;
      }

      & .col-presentation {
        color: var(--text-dim);
        flex: 1;
      }

      & .col-status {
        width: 120px;
        text-align: left;
      }

      & .col-actions {
        display: flex;
        column-gap: 10px;
      }

      & .btn {
        color: var(--text);

        &:hover {
          color: var(--text-accent);
        }
      }
    }
  }

  & .add-mix-btn {
    color: var(--text-dim);

    &:hover {
      color: var(--text);
    }
  }
}

.form-table {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  & .field-name {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
  }

  & .row {
    display: flex;
    column-gap: 20px;
    flex: 1;

    & .col {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
  }

  & .btn-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  & .loader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    background: rgba(0, 0, 0, .6);

    & .loader-text {
      color: var(--text-accent);
      font-weight: bold;
      font-size: 18px;
    }
  }
}

.delete-mix-modal {
  & .buttons-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
}
