.filters {
  margin-bottom: 40px;

  & .mainFilters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    column-gap: 40px;

    & .searchBar {
      display: flex;
      width: 100%;
      column-gap: 20px;
    }
  }

  & .advancedFilters {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 0 20px;

    & .advancedFilter {
      display: flex;

      & .filterName {
        width: 70px;
        font-size: 14px;
        font-weight: 600;
      }

      & .filterOption {
        border: none;
        background: transparent;
        color: var(--text-dim);
        font-size: 14px;
        transition: .3s;

        &:hover {
          color: var(--text);
        }

        &.active {
          color: var(--text-accent);
          font-weight: bold;
        }
      }
    }
  }
}
