.loaderContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  background: rgba(0, 0, 0, .8);

  & .text {
    color: var(--text-accent);
    font-weight: bold;
    font-size: 18px;
  }

  & .loader {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: solid 5px var(--border-accent);
    border-top: solid 5px transparent;
    border-radius: 50%;
    animation: rotate .8s linear infinite;
    margin-left: 5px;
  }
}

.addReceiptForm {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  & .fieldName {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
  }

  & .input {
    border: none;
    background: transparent;
    border: solid 1px var(--border);
    color: var(--text);
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
  }

  & .select {
    cursor: pointer;
    padding: 0 20px;
    font-size: 14px;
    background: var(--background-alt);
    color: var(--text-accent);
    font-weight: bold;
    border: none;
    padding: 10px;
  }

  & .btnContainer {
    display: flex;
    flex: 1;
    justify-content: flex-end;

    & .btn {
      display: flex;
      align-items: center;
      background: var(--btn-background);
      color: var(--text-accent);
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-weight: bold;
      transition: .3s;

      &:hover {
        background: var(--btn-hover-background);
      }
    }
  }

  & .subtitle {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-accent);
  }

  & .row {
    display: flex;
    column-gap: 20px;
    flex: 1;

    & .col {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
  }

  & .mix {
    & .col {
      flex: 3;

      &:nth-child(3) {
        flex: 1;
      }

      &:nth-child(4) {
        flex: 0;
        justify-content: center;
        width: fit-content;
      }
    }

    & .fieldName {
      font-size: 12px;
    }

    & .deleteBtn {
      border: none;
      color: #f38ba8;
      font-weight: bold;
      background: transparent;
      margin-top: 30px;
    }
  }

  & .addMixBtn {
    background: transparent;
    border: none;
    color: var(--text-accent);
    font-size: 14px;
    font-weight: bold;
    width: fit-content;
    margin-left: 10px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
