.app {
  padding: 20px;
}

.receiptsContainer {
  & .receipt, & .header {
    padding: 10px;
    width: 100%;
    display: flex;

    & .emtpy {
      width: 50px;
    }

    & .date {
      color: var(--text-dim);
      width: 120px;
    }

    & .folio {
      flex: 3;
    }

    & .sap {
      flex: 2;
    }

    & .kind {
      color: var(--text-accent);
      flex: 1;
    }

    & .actions {
      flex: 2;
    }
  }

  & .header {
    background: #191621;

    & div {
      color: var(--text) !important;
      font-weight: bold;
    }

    & .date {
      text-align: left;
    }
  }
}
