:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --blue: #89b4fa;
  --green: #a6e3a1;
  --green-dark: #92c38e;

  --background: #100e17;
  --background-alt: #1e1e2e;

  --text: #cdd6f4;
  --text-accent: var(--blue);
  --text-dim: #a6adc8;

  --text-alt: #11111b;

  --border: #585b70;
  --border-accent: var(--blue);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--text);
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

input {
  outline: 0;
}
